Repository ministryofjustice/opg-digideps, pull requests merged in 2022-01, with the labels that each got.

#736 DDPB-4132: Update ClientBenefitsCheck validation errors with new content
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/assets/javascripts/__tests__/modules/ConditionalFieldRevealer.test.js
  client/assets/javascripts/modules/ConditionalFieldRevealer.js
  client/assets/javascripts/modules/SessionTimeoutDialog.js
  client/assets/javascripts/pages/clientBenefitsCheckForm.js
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Entity/Ndr/IncomeReceivedOnClientsBehalf.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheck.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalf.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
  client/translations/report-client-benefits-check.en.yml
  client/translations/validators.en.yml
  client/webpack.config.js
Labels: api, client

#753 DDPB-4205: Fix API PHPUnit deprecations and warnings
  api/composer.json
  api/composer.lock
  api/config/packages/test/framework.yml
  api/src/Controller/Report/ReportController.php
  api/src/Controller/UserController.php
  api/src/Controller/UserResearchController.php
  api/src/Entity/CasRec.php
  api/src/FixtureFactory/ClientFactory.php
  api/src/FixtureFactory/UserFactory.php
  api/src/Service/ReportService.php
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/src/TestHelpers/ClientTestHelper.php
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/src/TestHelpers/UserTestHelper.php
  api/src/v2/Controller/ClientController.php
  api/src/v2/Fixture/Controller/FixtureController.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ContactsSectionTrait.php
  api/tests/Unit/Controller-Ndr/AssetControllerTest.php
  api/tests/Unit/Controller/AuthControllerTest.php
  api/tests/Unit/Entity/Repository/DocumentRepositoryTest.php
  api/tests/Unit/Entity/Repository/OrganisationRepositoryTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
  api/tests/Unit/Security/ClientVoterTest.php
  api/tests/Unit/Security/OrganisationVoterTest.php
  api/tests/Unit/Security/UserVoterTest.php
  api/tests/Unit/Service/Auth/UserProviderTest.php
  api/tests/Unit/Service/CasrecVerificationServiceTest.php
  api/tests/Unit/Service/Formatter/RestFormatterTest.php
  api/tests/Unit/Service/OrganisationRestHandlerTest.php
  api/tests/Unit/Service/ReportServiceTest.php
  api/tests/Unit/Service/ReportStatusServiceTest.php
  api/tests/Unit/Service/ReportUtilsTest.php
  api/tests/Unit/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Labels: api

#751 DDPB-3880: Filename sanitisation
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Labels: client

#754 DDPB-4190 - Fix Scenario: A user adds one of each payment type
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Labels: api

#759 Fix sec vuln
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Labels: client

#757 [DDPB-4159] adding new content for deputy email address changes
  api/src/Controller/UserController.php
  client/src/Service/File/FileNameFixer.php
  client/templates/Index/login.html.twig
Labels: api, client

#760 DDPB-4212: Start persisting Deputy Address Number
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Labels: api

#709 [DDPB-3997] Reduce user settings to email address and password changes for PA and Professional deputy app users
  api/src/Controller/UserController.php
  api/tests/Unit/Controller/UserControllerTest.php
  client/src/Controller/SettingsController.php
  client/src/Entity/User.php
  client/src/Form/ChangeEmailType.php
  client/src/Service/File/FileNameFixer.php
  client/templates/Index/login.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/index.html.twig
  client/translations/settings.en.yml
  client/translations/signin.en.yml
  client/translations/validators.en.yml
Labels: api, client

#762 DDPB-4138: Enforce TLSv1.2 as a minimum
  api/docker/confd/templates/app.conf.tmpl
Labels: api
