Repository ministryofjustice/opg-digideps, pull requests merged in 2022-09, with the labels that each got.

#909 [DDPB-4482] removed pronoun from translation file
  client/translations/ndr-income-benefits.en.yml
Labels: client

#908 DDPB-4454: Reports out of chronological order
  api/src/Entity/Client.php
Labels: api

#904 Ddpb 4035b dependabot weekly updates
  .circleci/config.yml
  .github/dependabot.yml
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
Labels: pipelines

#913 DDPB-4035 fix for versioning strategy
  .circleci/config.yml
  .github/dependabot.yml
  docker-compose.ci.test.yml
Labels: pipelines

#929 Added an emergency banner to website
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Index/index.html.twig
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Labels: client

#930 [remove-banner] removed the banner as it's not required on service.gov.uk
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Labels: client

#928 DDPB-4452: Create more specific document failure errors
  client/src/Model/Sirius/SiriusApiError.php
  client/src/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Labels: client

#925 DDPB-4480: Update named deputy emails as part of the Org CSV Upload process
  api/src/Controller/Report/ReportSubmissionController.php
  api/src/Entity/NamedDeputy.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
  api/tests/Unit/ControllerReport/ReportSubmissionControllerTest.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/Controller/Admin/ReportSubmissionController.php
Labels: api, client

#933 Add unicode to the password reset feature to check it works
  api/tests/Behat/features/v2/authentication/password-reset.feature
Labels: api

#935 DDPB-4475: Data from New Benefits not pulling through to the report PDF
  client/templates/Report/Formatted/_client_benefits_check.html.twig
Labels: client

#911 DDPB-4421b
  .circleci/config.yml
  environment/admin.tf
  environment/front.tf
  environment/s3.tf
  environment/s3_access_logs.tf
  environment/s3_bucket/.terraform.lock.hcl
  environment/s3_bucket/data_sources.tf
  environment/s3_bucket/main.tf
  environment/s3_bucket/outputs.tf
  environment/s3_bucket/replication.tf
  environment/s3_bucket/terraform.tf
  environment/s3_bucket/variables.tf
  environment/s3_iam_replication.tf
  environment/s3_kms.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Labels: infrastructure, pipelines

#947 DDPB-4501 remove golang vulnerability
  api/Dockerfile
  client/Dockerfile
Labels: api, client

#948 Ddpb 4501b
  api/Dockerfile
  htmltopdf/Dockerfile
Labels: api

#951 Add Jack Goodby to Cloud9 users
  shared/variables.tf
Labels: infrastructure
