Repository ministryofjustice/opg-digideps, pull requests merged in 2022-03, with the labels that each got.

#775 DDPB-4175: Return JSON for report rather than whole objects, fix CSV download
  api/src/Controller/UserResearchController.php
  api/src/Entity/User.php
  api/src/Repository/UserResearchResponseRepository.php
  api/tests/Unit/Entity/Repository/UserResearchResponseRepositoryTest.php
  api/tests/Unit/Fixtures.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/UserResearchApi.php
  client/src/Service/Csv/UserResearchResponseCsvGenerator.php
  client/tests/phpunit/Service/Csv/UserResearchResponseCsvGeneratorTest.php
  client/translations/admin-metrics.en.yml
Labels: api, client

#781 DDPB-4245 - add breakglass read/write to cloud9 instances
  environment/versions.tf
  shared/cloud9.tf
  shared/versions.tf
Labels: infrastructure

#783 DDPB-4245 - specify c9 breakglass user
  shared/cloud9.tf
Labels: infrastructure

#785 DDPB-4245 - Cloud9 memberships
  shared/cloud9.tf
  shared/variables.tf
Labels: infrastructure

#779 Run document tests in sequence as paralell running makes flaky tests
  .circleci/config.yml
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
Labels: api, pipelines

#788 DDPB-4280: Upgrade circleCI images to next gen versions
  .circleci/config.yml
Labels: pipelines

#789 DDPB-4281: Update from classic image to ubuntu image
  .circleci/config.yml
Labels: pipelines

#790 DDPB-4286: Allow null values for whoReceivedMoney to support migrations
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  api/src/Migrations/Version262.php
Labels: api

#787 DDPB-3525: Created a function to unarchive client from admin
  api/src/Controller/ClientController.php
  api/src/v2/Controller/ClientController.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
  client/src/Controller/Admin/Client/ClientController.php
  client/src/Service/Client/Internal/ClientApi.php
  client/src/Service/Client/RestClient.php
  client/templates/Admin/Client/Client/archived.html.twig
  client/templates/Admin/Client/Client/details.html.twig
  client/templates/Admin/Client/Client/unarchived.html.twig
  client/templates/Admin/Client/Search/search.html.twig
  client/templates/Layouts/application.html.twig
  client/translations/admin-clients.en.yml
  client/translations/common.en.yml
Labels: api, client

#791 DDPB-4285: Add report to metrics page for total liquid and non-liquid assets
  api/src/Controller/StatsController.php
  api/src/Entity/CasRec.php
  api/src/Entity/Ndr/AssetProperty.php
  api/src/Entity/Ndr/Ndr.php
  api/src/Entity/Report/AssetProperty.php
  api/src/Entity/Report/Report.php
  api/src/Repository/NdrRepository.php
  api/src/Repository/ReportRepository.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Unit/Entity/CasRecTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/CasRec.php
  client/src/Entity/Report/Report.php
  client/src/Entity/ReportInterface.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/AssetsTotalsCSVGenerator.php
  client/templates/Admin/Stats/reports.html.twig
  client/translations/admin-metrics.en.yml
Labels: api, client

#793 Fix migration issues
  api/src/Migrations/Version261.php
  api/src/Migrations/Version262.php
Labels: api

#784 DDPB-4259 - Update error messages for Benefits section
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/translations/report-client-benefits-check.en.yml
Labels: api, client

#794 DDPB-4291: Fix assets report
  .prettierrc.json
  api/config/services.yml
  api/src/Controller/StatsController.php
  api/src/Entity/Ndr/Asset.php
  api/src/Entity/Ndr/BankAccount.php
  api/src/Entity/Report/Asset.php
  api/src/Repository/AssetRepository.php
  api/src/Repository/BankAccountRepository.php
  api/src/Repository/NdrAssetRepository.php
  api/src/Repository/NdrBankAccountRepository.php
  api/src/Repository/NdrRepository.php
  api/src/Repository/ReportRepository.php
  api/tests/Unit/Fixtures.php
Labels: api

#796 Multiple by a decimal rather than whole number (doh)
  api/src/Controller/StatsController.php
  api/src/Repository/NdrAssetRepository.php
Labels: api

#795 DDPB-4292: Update libxml2
  api/Dockerfile
  client/Dockerfile
Labels: api, client

#798 DDPB-4278: Set client benefits section section release date to 16 March 2022
  api/src/Entity/Report/Report.php
Labels: api

#799 DDPB-4288: Allow checklists linked to a discharged client to be synced with Sirius
  api/src/Controller/Report/ReportController.php
  api/src/Entity/SynchronisableTrait.php
  api/src/Repository/ReportRepository.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  client/src/Controller/Admin/BehatController.php
  client/src/Controller/Admin/Client/ReportController.php
  client/templates/Admin/Client/Report/checklist.html.twig
  client/templates/Admin/Client/Report/sidebar/_statuses.html.twig
  client/translations/common.en.yml
Labels: api, client

#800 DDPB-4296: Drop enabling softdeleteable filter in loop
  .circleci/config.yml
  api/src/Controller/Report/ReportController.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  client/src/Command/ChecklistSyncCommand.php
  client/src/Command/DocumentSyncCommand.php
  client/src/Controller/Admin/BehatController.php
  client/src/Service/ChecklistSyncService.php
  client/src/Service/Client/Internal/ReportApi.php
  client/src/TestHelpers/ChecklistTestHelper.php
  client/tests/phpunit/Command/ChecklistSyncCommandTest.php
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
  environment/parameters.tf
Labels: api, client, infrastructure, pipelines

#805 DDPB-4299: Allow whoReceivedMoney to be null
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
Labels: api

#802 Add openssl to force upgraded packages.
  api/Dockerfile
  client/Dockerfile
Labels: api, client

#804 DDPB - 4208: Investigate and fix submissions appearing in New column
  api/src/Service/ReportService.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
Labels: api
