Repository ministryofjustice/opg-digideps, pull requests merged in 2022-05, with the labels that each got.

#825 DDPB-4321
  Makefile
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-new-named-deputy-and-org-existing-client.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-existing-case-number-new-made-date.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-new-named-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-named-deputy-with-different-addresses.csv
  api/tests/Behat/fixtures/sirius-csvs/org-3-valid-rows.csv
  client/src/Controller/Admin/IndexController.php
  docker-compose.dev.yml
  docker-compose.yml
Labels: api, client

#827 DDPB-4322: Stop expecting NDR column in CSV upload
  README.md
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
Labels: api

#826 Patches libraries on alpine
  api/Dockerfile
  client/Dockerfile
Labels: api, client

#828 Match our behat CSV date formats to real CSV formats, fix date format…
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-new-named-deputy-and-org-existing-client.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-existing-case-number-new-made-date.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-new-named-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-named-deputy-with-different-addresses.csv
  api/tests/Behat/fixtures/sirius-csvs/org-3-valid-rows.csv
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  client/assets/javascripts/modules/uploadProgress.js
Labels: api, client

#833 DDPB-4334: Enforce lowercased case number and provide update on updating reports
  api/src/Entity/Client.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/Entity/ClientTest.php
Labels: api

#824 DDPB-3342 - Add audit log around creation of organisations
  api/src/Entity/Organisation.php
  api/src/v2/Registration/Controller/OrgDeputyshipController.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Controller/Admin/OrganisationController.php
  client/src/Event/OrgCreatedEvent.php
  client/src/EventSubscriber/OrgCreatedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/EventSubscriber/OrgCreatedSubscriberTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Labels: api, client

#834 Add audit logs adr
  docs/architecture/decisions/0005-audit-logs.md
Labels: documentation

#830 [DDPB-4206] Track how often users are completing information in the new benefits section
  api/src/Controller/StatsController.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Repository/ReportRepository.php
  api/tests/Unit/Controller/StatsControllerTest.php
  client/package-lock.json
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/User.php
  client/src/Form/Admin/BenefitsMetricsFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
  client/templates/Admin/Stats/benefitsReportMetrics.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/templates/Admin/Stats/satisfaction.html.twig
  client/templates/Admin/Stats/urResponses.html.twig
  client/templates/Admin/Stats/userAccountReports.html.twig
  client/translations/admin-metrics.en.yml
Labels: api, client

#835 DDPB-4338: Start setting named deputy name based on org name when is an org deputy
  api/src/Controller/StatsController.php
  api/src/Entity/NamedDeputy.php
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-names.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy.csv
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Labels: api

#836 DDPB-4327: Only check CSV uploaded on production
  environment/check_csv_uploaded.tf
Labels: infrastructure

#838 DDPB-4342: Refer to correct constant
  client/src/Service/Client/Internal/ClientApi.php
Labels: client

#841 DDPB 3914 : Logging around admin managers
  api/src/Service/DateTimeProvider.php
  client/src/Controller/Admin/IndexController.php
  client/src/Event/AdminManagerCreatedEvent.php
  client/src/Event/AdminManagerDeletedEvent.php
  client/src/EventSubscriber/AdminUserCreatedSubscriber.php
  client/src/EventSubscriber/AdminUserLifeCycleSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Client/Internal/UserApi.php
  client/tests/phpunit/EventSubscriber/AdminUserCreatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Labels: api, client

#845 DDPB-4350: Disable auto discharge for Org CSV upload
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Labels: api
