Repository ministryofjustice/opg-digideps, pull requests merged in 2022-12, with the labels that each got.

#1038 [DDPB-4577] fixed bug where hybrid were not being caught in the process
  api/src/Controller/CoDeputyController.php
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/templates/Admin/Index/index.html.twig
  client/templates/Admin/Index/uploadOrgUsers.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
Labels: api, client

#1039 DDPB-4060b follow up to remove lifecycle changes
  environment/admin_service.tf
  environment/api_service.tf
  environment/front_service.tf
  environment/htmltopdf_service.tf
  environment/mock_sirius_integration_service.tf
  environment/scan_service.tf
Labels: infrastructure

#1033 DDPB-4527: Link DeputyUid to User when they sign up.
  api/src/Controller/PreRegistrationController.php
  api/src/Entity/NamedDeputy.php
  api/src/Entity/PreRegistration.php
  api/src/Entity/Report/BankAccount.php
  api/src/Entity/Report/Traits/DecisionTrait.php
  api/src/Security/HeaderTokenAuthenticator.php
  api/src/Service/DateTimeProvider.php
  api/src/Service/UserRegistrationService.php
  api/src/v2/Registration/DTO/LayDeputyshipDtoCollection.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Unit/Controller/PreRegistrationControllerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Labels: api

#1041 Update packages for security
  api/Dockerfile
  api/composer.json
  api/composer.lock
  api/config/packages/doctrine.yml
  api/tests/Behat/behat.yml
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests-smoke.sh
  client/Dockerfile
  client/composer.lock
  client/package-lock.json
  client/templates/Admin/Index/uploadUsers.html.twig
  disaster_recovery/backup/Dockerfile
  disaster_recovery/restore/Dockerfile
  lambda_functions/Dockerfile
  lambda_functions/functions/synchronisation/Dockerfile
  shared/slack_notify.tf
Labels: api, client, infrastructure, lambdas

#1057 DDPB-4592: Co-deputy cannot sign up to the service
  api/src/Repository/ClientRepository.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-2-rows-co-deputy.csv
Labels: api

#1040 DDPB-4552 add resource protection
  environment/alarms.tf
  environment/waf.tf
Labels: infrastructure

#1056 DDPB-4587: Process and store the Deputy Firstname field on the Lay CSV
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/PreRegistration.php
  api/src/FixtureFactory/PreRegistrationFactory.php
  api/src/Migrations/Version267.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/LayDeputyshipDto.php
  api/src/v2/Registration/SelfRegistration/Factory/PreRegistrationFactory.php
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-invalid-report-type-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Controller/Admin/IndexController.php
Labels: api, client

#1066 Fixing fixture CSV and renaming Test Scenario
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-2-rows-co-deputy.csv
Labels: api
