Repository ministryofjustice/opg-digideps, pull requests merged in 2022-04, with the labels that each got.

#810 Also scale admin in tests
  .circleci/config.yml
Labels: pipelines

#811 DDPB-4303 - remove description field from ecr scan results
  ecs_helper/check_ecr_scan_results/aws_ecr_scan_results.py
Labels: ecs-helper

#812 DDPB-4311: Bump alphagov/notifications-php-client to ^4.0.1
  client/composer.json
  client/composer.lock
Labels: client

#815 Run apk upgrade in build to pull in up to date busybox.
  api/Dockerfile
  client/Dockerfile
Labels: api, client

#816 DDPB-4312: Stabilise CI tests and only alert container vulns on main
  .circleci/config.yml
  .prettierignore
  Makefile
  api/src/TestHelpers/ClientTestHelper.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/DebugTrait.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/run-tests.sh
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/bind.js
  client/assets/javascripts/modules/characterLimiter.js
  client/assets/javascripts/modules/cookieBanner.js
  client/assets/javascripts/modules/detached-details.js
  client/assets/javascripts/modules/detailsExpander.js
  client/assets/javascripts/modules/formatcurrency.js
  client/assets/javascripts/modules/ga.js
  client/assets/javascripts/modules/moneyTransfer.js
  client/assets/javascripts/modules/returnHTML.js
  client/assets/javascripts/modules/show-hide-content.js
  client/assets/javascripts/modules/uploadFile.js
  client/assets/javascripts/modules/uploadProgress.js
  client/assets/javascripts/modules/uploadProgressPA.js
  ecs_helper/check_ecr_scan_results/aws_ecr_scan_results.py
Labels: api, client, pipelines, ecs-helper

#786 DDPB-4269: Give CSV upload check open internet access for bank holidays API
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  client/config/services.yml
  client/frontend.env
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  docker/localstack-init.sh
  environment/check_csv_uploaded.tf
  environment/ecs.tf
  environment/front.tf
  environment/secrets.tf
Labels: api, client, infrastructure

#820 DDPB-4304: Limit app notifications page to super admin users
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  client/src/Controller/Admin/SettingController.php
  client/templates/Layouts/admin_moj_template.html.twig
Labels: api, client

#821 Add checklist and document sync log queries
  shared/cloudwatch_queries.tf
Labels: infrastructure

#822 Reduce document sync schedule time to 2 minutes
  environment/document_sync.tf
Labels: infrastructure

#818 DDPB 4218 - 'New' tabs visibility on Submissions page toggled based on Document Sync Enabled flag
  api/src/Service/ParameterStoreService.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/features-v2/user-management/admin/create-user.feature
  client/src/Controller/Admin/ReportSubmissionController.php
  client/src/Service/ParameterStoreService.php
  client/templates/Admin/ReportSubmission/index.html.twig
  client/tests/phpunit/Service/ParameterStoreServiceTest.php
  environment/admin.tf
  environment/integration_test_v2.tf
Labels: api, client, infrastructure

#823 Stop dropping non-existent indexes on named_deputy
  api/src/Migrations/Version263.php
Labels: api
