Repository ministryofjustice/opg-digideps, pull requests merged in 2022-08, with the labels that each got.

#899 DDPB-4375: Response for checklist question not appearing
  client/templates/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Labels: client

#901 DDPB-4443: Review and fix EventSubscribers that have multiple event listeners
  client/src/EventSubscriber/ClientUpdatedSubscriber.php
  client/src/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/EventSubscriber/UserUpdatedSubscriber.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Labels: client

#902 DDPB-4459 - Registering deputies blocked at client details page
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
  client/config/parameters.yml.dist
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Admin/AjaxController.php
Labels: api, client

#905 DDPB-4471 change log levels to be more generic
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
  client/config/parameters.yml.dist
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Synchronisation/SynchronisationController.php
Labels: api, client

#906 DDPB-4451 - Pull through deputy data from the report
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Labels: api

#885 DDPB-4374: Log sending and not sending emails
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Mailer/MailSender.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  client/tests/phpunit/Service/Mailer/MailSenderTest.php
Labels: api, client

#907 DDPB-4474: Accommodate deputies who move firms and take their clients with them
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  docker-compose.dev.yml
Labels: api
