Repository ministryofjustice/opg-digideps, pull requests merged in 2022-10, with the labels that each got.

#949 DDPB-4493 upgrade to postgres 13 local development and integration
  .circleci/config.yml
  api/tests/Unit/ControllerReport/AssetControllerTest.php
  docker-compose.yml
  environment/api_rds.tf
  environment/aurora/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/aurora/variables.tf
  environment/terraform.tfvars.json
  lambda_functions/docker-compose.yml
Labels: api, infrastructure, pipelines, lambdas

#961 Ddpb 4493b
  docker-compose.yml
  environment/terraform.tfvars.json
  lambda_functions/docker-compose.yml
Labels: infrastructure, lambdas

#965 DDPB-4456b properly add the jwt secrets
  shared/secrets.tf
  shared/sync.tf
Labels: infrastructure

#963 DDPB 4498: PAs users that are submitting reports look inactive by status
  api/src/Service/ReportService.php
  api/tests/Unit/Service/ReportServiceTest.php
Labels: api

#967 DDPB-4508 make a container that runs sync commands continuously
  client/scripts/document_and_checklist_sched.sh
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/monitoring_lambda_event.tf
  environment/parameters.tf
Labels: client, infrastructure

#975 Remote docker changes, but with some additional config.
  .circleci/config.yml
  client/Dockerfile
  client/tests/phpunit/Validator/Constraints/CommonPasswordValidatorTest.php
  client/tests/phpunit/phpunit.xml
  ecs_helper/cmd/circle_builds/requirements.txt
Labels: client, pipelines, ecs-helper

#978 DDPB-4508c use the checklist container for the sync setup
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/htmltopdf_sg.tf
  environment/parameters.tf
Labels: infrastructure

#988 DDPB-4538: Users cannot change their passwords themselves
  api/api.env
  api/config/packages/security.yml
  api/config/services.yml
  api/src/Controller/UserController.php
  api/src/Repository/UserRepository.php
  api/tests/Behat/bootstrap/v2/ACL/ACLFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/UserExistsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/acl/login/login.feature
  client/src/Controller/SettingsController.php
  client/src/Controller/UserController.php
Labels: api, client

#996 DDPB-4248 monitor egress traffic
  shared/dns_firewall.tf
  shared/terraform.tfvars.json
  shared/variables.tf
Labels: infrastructure

#994 DDPB-4514 pin specific versions of docker images
  docker-compose.yml
  environment/mock_sirius_integration_service.tf
  environment/variables.tf
Labels: infrastructure

#997 DDPB-4359: Missing radio button option for Money Out section
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
  client/src/Entity/Report/MoneyTransaction.php
  client/src/Form/Report/MoneyTransactionType.php
Labels: api, client
