Repository ministryofjustice/opg-digideps, pull requests merged in 2022-02, with the labels that each got.

#761 DDPB-4188, DDPB-4207: New client benefits section markup fixes
  client/assets/scss/digideps/_sections.scss
  client/assets/scss/digideps/_tags.scss
  client/templates/Macros/macros.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
Labels: client

#758 DDPB-3879: Reject uploaded supporting documents where extension and mimetype are mismatched
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  api/tests/Behat/fixtures/png-file.jpeg
  client/src/Controller/Report/DocumentController.php
  client/src/Exception/MimeTypeAndFileExtensionDoNotMatchException.php
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/FileUtility.php
  client/src/Service/File/MimeTypeAndExtensionChecker.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/MimeTypeAndExtensionCheckerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
  client/tests/phpunit/TestData/jpeg-file.jpeg
  client/tests/phpunit/TestData/jpeg-file.pdf
  client/tests/phpunit/TestData/jpg-file.jpg
  client/tests/phpunit/TestData/pdf-file.pdf
  client/tests/phpunit/TestData/pdf-file.png
  client/tests/phpunit/TestData/png-file.jpeg
  client/tests/phpunit/TestData/png-file.png
Labels: api, client

#766 DDPB 4186 - Report for admin accounts (Joiners, Movers, Leavers)
  api/src/Controller/StatsController.php
  api/src/Repository/UserRepository.php
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/analytics/analytics.feature
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/StatsApi.php
  client/templates/Admin/Stats/metrics.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/templates/Admin/Stats/userAccountReports.html.twig
  client/translations/admin-metrics.en.yml
Labels: api, client

#763 DDPB-3832: Format the report review page to make it easier to submit a report
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/features-v2/report-submission/submitting-a-report.feature
  api/tests/Behat/features-v2/report-submission/submitting-a-report.ndr.feature
  client/assets/scss/digideps/formatted_report/_main.scss
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Ndr/_header.html.twig
  client/templates/Ndr/Ndr/_pdf_download_link.html.twig
  client/templates/Ndr/Ndr/_review_buttons.html.twig
  client/templates/Ndr/Ndr/declaration.html.twig
  client/templates/Ndr/Ndr/overview.html.twig
  client/templates/Ndr/Ndr/review.html.twig
  client/templates/Report/Report/_pdf_download_link.html.twig
  client/templates/Report/Report/_review_buttons.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/templates/Report/Report/review.html.twig
  client/translations/common.en.yml
  client/translations/ndr-overview.en.yml
  client/translations/report-display.en.yml
Labels: api, client

#773 Fix document tests and ensure all tests run in CI
  api/tests/Behat/features-v2/contact-details/contact-details.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/features-v2/reporting/sections/gifts/gifts.feature
Labels: api

#770 DDPB-4169 - Alert when a data ingestion CSV has not been uploaded within the last 24 hours
  client/composer.json
  client/composer.lock
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  client/scripts/check-csv-uploaded.sh
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/Client/Slack/ClientFactory.php
  client/src/Service/OrgService.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  docker-compose.yml
  docker/localstack-init.sh
  environment/check_csv_uploaded.tf
Labels: client, infrastructure

#776 Added S3 back to CSV uploaded security command
  environment/check_csv_uploaded.tf
Labels: infrastructure

#778 Added environment variables to CSV Upload Check container
  environment/check_csv_uploaded.tf
Labels: infrastructure

#771 DDPB-4233: Stop updating archived clients details during CSV upload
  api/src/Entity/Client.php
  api/src/Exception/ClientIsArchivedException.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/Service/OrgService.php
Labels: api, client

#780 [dependabot-node-fetch] fixed package vulnerabilities
  client/package-lock.json
  client/package.json
Labels: client
