Repository ministryofjustice/opg-digideps, pull requests merged in 2022-06, with the labels that each got.

#848 DDPB-4352 bump terraform version and provider versions (specifically AWS)
  .circleci/config.yml
  .gitignore
  environment/.terraform.lock.hcl
  environment/api_elasticache.tf
  environment/frontend_shared_elasticache.tf
  environment/s3_access_logs.tf
  environment/versions.tf
  shared/.terraform.lock.hcl
  shared/s3_replication.tf
  shared/sns.tf
  shared/versions.tf
Labels: infrastructure, pipelines

#837 DDPB-4341 allow us to recover from disasters in automated fashion
  disaster_recovery/backup/.envrc
  disaster_recovery/backup/Dockerfile
  disaster_recovery/backup/dr_backup.py
  disaster_recovery/restore/Dockerfile
  disaster_recovery/restore/disaster_recovery.py
  docker-compose.ci.yml
  docker-compose.commands.yml
  docs/DISASTER_RECOVERY.md
  environment/disaster_recovery/kms.tf
Labels: documentation, infrastructure

#847 DDPB:4333 - Add banner to show super admin users which version of the app they are using
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
  client/config/packages/twig.yml
  client/config/services.yml
  client/src/Controller/ManageController.php
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
  client/templates/Manage/availability.html.twig
Labels: api, client

#840 DDPB-4230: Convert iPhone format photos to a neutral format for DOM1 users
  api/Dockerfile
  api/composer.lock
  api/config/packages/framework.yml
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyCostsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  api/tests/Behat/fixtures/good-heic.heic
  api/tests/Behat/fixtures/good-jfif.jfif
  client/Dockerfile
  client/composer.json
  client/composer.lock
  client/src/Controller/Admin/BehatController.php
  client/src/Entity/Report/Document.php
  client/src/Form/Report/UploadType.php
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/FileUtility.php
  client/src/Service/File/ImageConvertor.php
  client/src/Service/File/ImageMagickFactory.php
  client/src/Service/File/MimeTypeAndExtensionChecker.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/ImageConvertorTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
  client/tests/phpunit/TestData/good-heic.heic
  client/tests/phpunit/TestData/good-jfif.jfif
  client/tests/phpunit/TestData/good-jpeg.jpg
  client/tests/phpunit/TestData/good-pdf.pdf
  client/tests/phpunit/TestData/good-png.png
  docker-compose.dev.yml
  docker-compose.override.yml
Labels: api, client

#851 DDPB-4361: Fix fixtures
  api/src/FixtureFactory/PreRegistrationFactory.php
  api/src/v2/Fixture/Controller/FixtureController.php
Labels: api

#850 DDPB-4349: Fix CSV upload check alerts
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  client/assets/javascripts/modules/uploadProgress.js
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Admin/IndexController.php
  client/src/Service/Client/Internal/LayDeputyshipApi.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Labels: api, client

#853 DDPB-4363b: Updated dev set up docs
  .prettierignore
  README.md
  docs/DEBUGGING.md
Labels: documentation

#856 DDPB-3123: Fix PHPStan errors
  Makefile
  client/phpstan.neon
Labels: client

#857 amend sync timings
  .pre-commit-config.yaml
  api/src/Controller/ManageController.php
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/monitoring_lambda_event.tf
Labels: api, infrastructure

#859 [DDPB-4346] fixed bug around finished reports showing as not finished
  Makefile
  README.md
  api/src/Controller/Report/ClientBenefitsCheckController.php
  api/src/Controller/Report/ReportController.php
  api/src/Entity/Report/Report.php
  api/src/Service/ReportStatusService.php
  api/src/v2/Fixture/Controller/FixtureController.php
  generate_certs.sh
Labels: api

#860 DDPB-4373 change the teardown schedule on ephemeral envs
  .circleci/config.yml
Labels: pipelines

#863 Ddpb 4373b
  .circleci/config.yml
Labels: pipelines

#866 DDPB-4365: Get list of caseworker accounts not used in 1 year and 1 month
  Makefile
  api/src/Controller/StatsController.php
  api/src/Repository/UserRepository.php
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Unit/Controller/StatsControllerTest.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
  client/composer.lock
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/OldAdminUserCsvGenerator.php
  client/templates/Admin/Stats/reports.html.twig
  client/translations/admin-metrics.en.yml
Labels: api, client

#867 DDPB-4409: Ensure we lowercase casenumbers when matching during lay CSV upload
  api/src/Repository/ReportRepository.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/tests/Unit/Entity/Repository/ReportRepositoryTest.php
Labels: api
