Repository ministryofjustice/opg-digideps, pull requests merged in 2022-07, with the labels that each got.

#871 DDPB-4431: Stop automatically moving clients into new orgs and updating named deputy name on CSV upload
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Labels: api

#865 DDPB 4275 - Track registration form errors via google analytics
  Makefile
  api/src/Service/PreRegistrationVerificationService.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/Service/PreRegistrationVerificationServiceTest.php
  client/assets/javascripts/__tests__/modules/SessionTimeoutDialog.test.js
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/googleAnalyticsEvents.js
  client/package-lock.json
  client/package.json
  client/src/Controller/UserController.php
  client/translations/register.en.yml
Labels: api, client

#875 DDPB-4435: Only update deputy name and address if they are the existing deputy reporting on a client
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/package.json
Labels: api, client

#874 Ensure we log in both places a reg attempt can fail
  client/src/Controller/ClientController.php
  client/src/Controller/UserController.php
  client/src/Event/RegistrationFailedEvent.php
  client/src/EventSubscriber/RegistrationFailedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
Labels: client

#846 DDPB-4351: Fix CVE-2022-28948 - gopkg.in/yaml.v3
  shared/go_redeployer/go.mod
  shared/go_redeployer/go.sum
Labels: infrastructure

#880 DDPB-4439: Stop verifying SSL in api client
  client/config/packages/framework.yml
Labels: client

#878 DDPB-4351: Force update of gopkg.in/yaml.v3
  shared/go_redeployer/go.mod
Labels: infrastructure

#881 DDPB-4440: Trim names when matching against PreRegistration data
  api/src/Service/PreRegistrationVerificationService.php
Labels: api

#870 DDPB-4417b tfsec compliance
  .circleci/config.yml
  environment/admin_elb.tf
  environment/admin_sg.tf
  environment/api_elasticache.tf
  environment/api_rds.tf
  environment/api_sg.tf
  environment/backup.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/disaster_recovery.tf
  environment/disaster_recovery/.terraform.lock.hcl
  environment/disaster_recovery/ecs.tf
  environment/disaster_recovery/ecs_sg.tf
  environment/disaster_recovery/kms.tf
  environment/disaster_recovery/variables.tf
  environment/document_sync.tf
  environment/ecs.tf
  environment/front.tf
  environment/front_elb.tf
  environment/front_sg.tf
  environment/frontend_shared_elasticache.tf
  environment/htmltopdf_sg.tf
  environment/integration_test.tf
  environment/integration_test_v2.tf
  environment/logging.tf
  environment/mock_sirius_integration_sg.tf
  environment/monitoring_lambda.tf
  environment/monitoring_lambda_sg.tf
  environment/reset_database.tf
  environment/restore.tf
  environment/restore_from_production.tf
  environment/s3.tf
  environment/scan_sg.tf
  environment/security_group/.terraform.lock.hcl
  environment/security_group/main.tf
  environment/security_group/variables.tf
  environment/smoke_test.tf
Labels: infrastructure, pipelines

#868 [DDPB-4353] Add created at and updated at to entities to provide context
  Makefile
  api/src/Controller/Ndr/AccountController.php
  api/src/Controller/Report/AccountController.php
  api/src/Controller/Report/ContactController.php
  api/src/Entity/Client.php
  api/src/Entity/NamedDeputy.php
  api/src/Entity/Ndr/Asset.php
  api/src/Entity/Ndr/BankAccount.php
  api/src/Entity/PreRegistration.php
  api/src/Entity/Report/Asset.php
  api/src/Entity/Report/BankAccount.php
  api/src/Entity/Report/Contact.php
  api/src/Entity/Report/Decision.php
  api/src/Entity/Report/Report.php
  api/src/Entity/Traits/CreateUpdateTimestamps.php
  api/src/Entity/User.php
  api/src/Migrations/Version264.php
  api/src/Service/ReportService.php
  api/src/v2/Registration/SelfRegistration/Factory/PreRegistrationFactory.php
  api/tests/Unit/ControllerReport/AccountControllerTest.php
  api/tests/Unit/Entity/Report/BankAccountTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
  client/src/Entity/PreRegistration.php
  client/src/Entity/Report/BankAccount.php
Labels: api, client

#886 DDPB-4380: PHPStan Level 1 errors - Undefined properties
  Makefile
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/Ndr/BankAccount.php
  api/src/Entity/Report/BankAccount.php
  api/src/Service/BruteForce/AttemptsIncrementalWaitingChecker.php
  api/src/v2/Assembler/ClientAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  client/src/Entity/BankAccountInterface.php
  client/src/Entity/Ndr/AssetProperty.php
  client/src/Entity/Ndr/BankAccount.php
  client/src/Entity/Report/AssetProperty.php
  client/src/Entity/Report/Checklist.php
  client/src/Entity/Report/Fee.php
  client/src/Service/HtmlToPdfGenerator.php
Labels: api, client

#887 DDPB-4381, DDPB-4390: Fix undefined methods and constants
  api/src/Entity/Ndr/AssetProperty.php
  api/src/Entity/Report/Contact.php
  client/src/Service/Client/Internal/UserApi.php
Labels: api, client

#883 DDPB-4364: Set active and registered date only when registration is completed
  api/src/Controller/UserController.php
  api/src/Entity/User.php
  api/src/Migrations/Version265.php
  api/src/Service/PreRegistrationVerificationService.php
  api/src/Service/UserRegistrationService.php
  api/src/Service/UserService.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  api/tests/Behat/bootstrap/v2/Registration/RegistrationFeatureContext.php
  api/tests/Behat/features-v2/admin-management/edit-others.feature
  api/tests/Behat/features-v2/registration/activate.lay.feature
  api/tests/Behat/features-v2/registration/activate.ndr.feature
  api/tests/Behat/features-v2/registration/activate.org.feature
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/features-v2/user-management/admin/add-user.feature
  api/tests/Behat/features-v2/user-management/admin/create-user.feature
  api/tests/Behat/features-v2/user-management/admin/delete-others.feature
  api/tests/Behat/features-v2/user-management/admin/edit-myself.feature
  api/tests/Behat/features-v2/user-management/admin/edit-others.feature
  api/tests/Unit/Controller/AbstractTestController.php
  api/tests/Unit/Controller/UserControllerTest.php
  api/tests/Unit/Service/UserRegistrationServiceTest.php
  client/src/Controller/Admin/IndexController.php
  client/src/Controller/ClientController.php
  client/src/Controller/Report/ReportController.php
  client/src/Controller/UserController.php
  client/src/Entity/User.php
  client/src/Event/RegistrationSucceededEvent.php
  client/src/EventSubscriber/RegistrationSucceededSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Client/Internal/UserApi.php
  client/src/TestHelpers/UserHelpers.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
  environment/aurora/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/terraform.tfvars.json
  shared/.terraform.lock.hcl
Labels: api, client, infrastructure

#888 Add ADR for JWT
  docs/architecture/decisions/0006-jwts.md
Labels: documentation

#894 DDPB-4385: Unused parameter & access to undefined property
  api/src/v2/Controller/OrganisationController.php
  client/src/Entity/Ndr/Debt.php
  client/src/Entity/Report/Debt.php
Labels: api, client

#889 Ddpb 4444b
  environment/aurora/.terraform.lock.hcl
  environment/aurora/variables.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/cleanup.tf
  environment/disaster_recovery.tf
  environment/disaster_recovery/outputs.tf
  environment/document_sync.tf
  environment/events_iam.tf
  environment/run_tasks.tf
  shared/endpoint_ecr.tf
  shared/endpoint_logs.tf
  shared/endpoint_secrets.tf
  shared/endpoint_ssm.tf
  shared/events.tf
  shared/kms.tf
  shared/lambda.tf
  shared/s3_replication.tf
  shared/slack_notify.tf
  shared/sync.tf
  shared/vpc_flow_logs.tf
  shared/workspace-cleanup.tf
Labels: infrastructure

#898 revert a tfsec change
  shared/sync.tf
Labels: infrastructure

#892 DDPB-4383: Variable might not be defined
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/FixtureFactory/ReportFactory.php
  api/src/Repository/DocumentRepository.php
  api/src/Service/ReportService.php
  api/src/v2/Transformer/OrganisationTransformer.php
  client/src/Controller/Admin/Client/SearchController.php
  client/src/Controller/Admin/FixtureController.php
  client/src/Controller/Admin/OrganisationController.php
  client/src/Entity/Report/Traits/ReportAssetTrait.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
  client/src/Service/DocumentService.php
  client/src/Service/File/Scanner/ClamFileScanner.php
  client/tests/phpunit/Service/File/Scanner/ClamFileScannerTest.php
Labels: api, client
