Repository ministryofjustice/opg-digideps, pull requests merged in 2022-11, with the labels that each got.

#1007 DDPB-4553 update dependabot and fix sec issues
  .github/dependabot.yml
  client/package-lock.json
  disaster_recovery/backup/Dockerfile
  disaster_recovery/backup/requirements.txt
  disaster_recovery/restore/Dockerfile
  disaster_recovery/restore/requirements.txt
Labels: client

#999 DDPB-4547: Documents unaccessible on DigiDeps Submissions - API error
  client/src/Service/File/Storage/S3Storage.php
  client/tests/phpunit/Service/File/Storage/S3StorageTest.php
Labels: client

#1020 DDPB-4551: upgrade digideps to PHP 8.1
  .circleci/config.yml
  Makefile
  api/Dockerfile
  api/composer.json
  api/composer.lock
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
  client/Dockerfile
  client/composer.json
  client/composer.lock
  docker-compose.yml
Labels: api, client, pipelines

#1022 DDPB-4537: Process and store the Hybrid field on the Lay and Org CSVs
  api/src/Entity/PreRegistration.php
  api/src/FixtureFactory/PreRegistrationFactory.php
  api/src/Migrations/Version266.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/LayDeputyshipDto.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/SelfRegistration/Factory/PreRegistrationFactory.php
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-invalid-report-type-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-new-named-deputy-and-org-existing-client.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-existing-case-number-new-made-date.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-new-named-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-named-deputy-with-different-addresses.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-names.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-3-valid-rows.csv
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
  client/src/Controller/Admin/IndexController.php
  client/tests/csv/layDeputyReport.csv
  client/tests/csv/paProDeputyReport.csv
Labels: api, client

#1006 DDPB-4513 create our own file scanner
  .circleci/config.yml
  client/src/Service/Availability/ClamAvAvailability.php
  client/src/Service/File/Scanner/ClamFileScanner.php
  docker-compose.ci.yml
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  file_scanning/Dockerfile
  file_scanning/README.md
  file_scanning/clamd/clamd.go
  file_scanning/clamd/clamd_test.go
  file_scanning/clamd/conn.go
  file_scanning/eicar.com.txt
  file_scanning/eicar.test
  file_scanning/entrypoint.sh
  file_scanning/go.mod
  file_scanning/goodfile.txt
  file_scanning/main.go
  file_scanning/main_test.go
  lambda_functions/functions/synchronisation/main.go
Labels: client, infrastructure, pipelines, lambdas

#1028 DDPB-4558 - User sessions that timeout result in a general application error
  client/config/services.yml
  client/src/Controller/IndexController.php
  client/src/EventListener/AuthTokenExpiredListener.php
  client/src/EventListener/ForbiddenExceptionListener.php
  client/src/EventListener/UnauthorizedExceptionListener.php
  client/templates/Index/access-denied.html.twig
  client/templates/Index/login.html.twig
  client/translations/error-pages.en.yml
  client/translations/signin.en.yml
Labels: client

#1032 update ecr login command
  .circleci/config.yml
Labels: pipelines
